<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<appSettings configSource="G:\dick\git\QQRobot\QQRobot\src\PikachuRobot\Newbe.Mahua.Plugins.Pikachu\config\appSettings.config">
  </appSettings>-->
  <appSettings>


    <!--版本号-->
    <add key="Version" value="1.0.0" />
    <!--名称-->
    <add key="AppName" value="皮神开发版" />
    <!--作者-->
    <add key="Author" value="mon" />
    <!--插件Id，用于唯一标识插件产品的Id，至少包含 AAA.BBB.CCC 三个部分-->
    <add key="AppId" value="pikachu.mon.dev" />
    <!--描述信息-->
    <add key="Description" value="初始版" />

    <add key="DefaultGroupMsg" value="试试对我说“菜单列表”吧！" />

    <add key="DefaultPrivateMsg" value="想说啥呢？" />


  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MessagePack" publicKeyToken="b4a0369545f0a1be" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.3.7" newVersion="1.7.3.7" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup></configuration>
