<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">

  <targets xsi:type="AsyncWrapper">
    <!--保存至文件-->
    <target name="log_file" xsi:type="File"
                    fileName="${basedir}/Logs/${shortdate}/${level:uppercase=false:padding=-5}.txt"
                    layout="${longdate} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
    <!--输出至Debugger-->
    <target name="debugger" xsi:type="Debugger"
            layout="NLog: ${date:format=HH\:mm\:ss} | ${message}" />
    <!--输出至控制台-->
    <target name="console" xsi:type="ColoredConsole" layout="${longdate} ${message} ${exception:format=tostring}"></target>
    <!--输出至邮件-->
    <target xsi:type="Mail" name="infoMail"
         smtpServer="smtp.163.com"
         smtpPort="25"
         smtpAuthentication="Basic"
         smtpUserName="xxxx@163.com"
         smtpPassword="xxxx"
         enableSsl="true"
         addNewLines="true"
         from="xxxx@163.com"
         to="xxxx@qq.com"
         subject="Project Exception Mail"
         header="*********************"
         body="${longdate} | ${message} "
         footer="*********************"/>
  </targets>


  <rules>
    <logger name="*" level="Info" writeTo="log_file" />
    <logger name="*" levels="Error" writeTo="log_file" />
    <logger name="*" levels="Debug" writeTo="log_file" />
    <!--<logger name="*" level="Debug" writeTo="debugger" />-->
    <!--<logger name="*" level="Fatal" writeTo="console" />-->
    <logger name="*" level="Fatal" writeTo="log_file" />
    <!--<logger name="*" level="Warn" writeTo="infoMail" />-->
    <logger name="*" level="Warn" writeTo="log_file" />
  </rules>
</nlog>